<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
		
	<bean id="helloWordImpl1" class="com.xl.aop.impl.HelloWorldImpl1"></bean>
	<bean id="timeHandler" class="com.xl.aspects.TimeHandler"></bean>
	
	<aop:config>
		<aop:aspect id="time" ref="timeHandler">
			<aop:pointcut id="addAllMethod" expression="execution(* com.xl.aop.HelloWorld.*(..))" />
            <aop:before method="printTime" pointcut-ref="addAllMethod" />
            <aop:after method="printTime" pointcut-ref="addAllMethod" />
		</aop:aspect>
	</aop:config>
        
</beans>